.Index{
    z-index: 2;   
}

.Graph_week{
    z-index: 3;
}

.Graph_month{
    z-index: 4;            
}

.Month{
    z-index: 1;      
}

.top{
    background-color: #88BFCA;
}

.bottom{
    background-color: #88BFCA;
}

.left{
    background-color: #88BFCA;
}

.right{
    background-color: #88BFCA;
}

.main{
    max-height: 500px;
}

#graph{
    margin: 0% 30%;
}

#back_graph_month{
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #B2B2B2;
    background-color: rgb(255, 255, 255);
}

#next_graph_month{
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #B2B2B2;
    background-color: rgb(255, 255, 255);
}

#MonthCount{
    padding: 0 70px;
    font-size: 20px;
}

#next_back_button{
    display: flex;
    padding-bottom: 50px;
    padding-left: 100px;
}