.Index{
    z-index: 1;   
}

.Graph_week{
    z-index: 2;
}

.Graph_month{
    z-index: 3;            
}

.Month{
    z-index: 4;      
}

.top{
    background-color: #EF90B5;
}

.bottom{
    background-color: #EF90B5;
}

.left{
    background-color: #EF90B5;
}

.right{
    background-color: #EF90B5;
}

td {
    width: 50px;
    height: 50px;
}