.tab {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 120px;
  }
  
  /* タブメニュー */
  .tab_menu {
    display: flex;
    align-items: flex-end; /* メニューを下揃え */
    justify-content: center;
    min-height: 50px; /* メニュー切替時にタブがズレないように */
    padding: 0;
    margin: 0;
  }
  
  .tab_menu-item {
    list-style: none;
    width: 200px;
    padding: 8px 5px; /* メニューに高さを付ける */
    text-align: center;
    margin-right: 6px;
    background-color: #cdcdcd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    transition: all .3s; /* アニメーション */
  }
  
  .tab_menu-item:last-of-type {
    margin-right: 0px;
  }
  
  /* is-activeがついている時のスタイル */
  .tab_menu-item.is-active {
    background-color: rgba(48, 172, 249);
    color: #ffffff;
    padding: 12px 5px;
  }
  
  /* タブパネル */
  .tab_panel {
   width: 100%;
  }
  
  .tab_panel-box {
    min-height: 400px;
    padding: 10px 30px;
    border-radius: 10px;
  }
  
  .tab_panel-box001 {
    background-color: rgb(205, 246, 246);
    display: none;
  }
  
  .tab_panel-box002 {
    background-color: rgb(249 227 243);
    display: none;
  }
  
  .tab_panel-box003 {
    background-color: rgb(200, 248, 195);
    display: none;
  }
  
  /* is-showがついている時のスタイル */
  .tab_panel-box.is-show {
    display: block;
  }
  
